p,a{
    color: green;
}

li{
    list-style-type: square;
}

/* .special{
    color: orange;
    font-weight: bold;
} */

span.special, li.special{
    color: orange;
    font-weight: bold;
}

li em{
    color: rebeccapurple;
}

/* Select the p tag just after h1 tag */
h1+p{
font-size: 200%;
}

a:hover{
    color: saddlebrown;
    text-decoration: none;
}

body h1+p .special{
    color: yellow;
    background-color: black;
    padding: 5px;
}

*{
    font-size: large;
}